<div class="container">
  <div class="row">
    <form role="form" ng-submit="addProduct(pProduct)">
      <fieldsets >
        <div class="form-group">
          <label for="form-control">Nombre</label>
          <input type="text" id="nameproduct" class="form-control" placeholder="Nombre del producto" ng-model="pProduct.name" required>
        </div>
        <div class="form-group">
          <label for="form-control">Descripcion</label>
          <input type="text" id="description" class="form-control" placeholder="Descripcion del producto" ng-model="pProduct.description" required>
        </div>
        <div class="form-group">
          <label for="form-control">Estado</label>
          <input type="checkp"
        </div>
        <button type="submit" class="btn btn-primary">Crear</button>
      </fieldset>
    </form>
  </div>
</div>
